.chat-screen {
  background-color: #abc1d1;
  height: 180vh;
  z-index: -1;
}

.chat-screen .status-bar {
  top: 0;
  background-color: rgba(171, 193, 209, 0.3);
}

.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  background-color: rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 35px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7px;
  margin-bottom: 35px;
  animation: fadeIn 1s linear;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  opacity: 0;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInFromLeft 0.8s linear forwards;
  animation-delay: 0.2s;
}

.message-row__author {
  opacity: 0.8;
  font-size: 17px;
  margin-top: 3px;
  margin-bottom: 12px;
  display: block;
}

.message-row__bubble {
  background-color: white;
  padding: 7px 12px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message-row__time {
  font-size: 12px;
  opacity: 0.8;
}

.message-row__text {
  display: flex;
  align-items: flex-end;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row--own {
  opacity: 0;
  justify-content: flex-end;
  animation: fadeInFromRight 1s linear forwards;
  animation-delay: 1s;
}

.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.message-row--own .message-row__text {
  flex-direction: row-reverse;
}

.reply {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px 30px 10px 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.reply .reply__column:nth-child(1) {
  width: 5%;
  opacity: 0.5;
  padding-right: 10px;
  transition: all 0.2s linear;
}

.reply .reply__column:nth-child(1):hover {
  opacity: 1;
  cursor: pointer;
}

.reply .reply__column:nth-child(2) {
  width: 95%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 15px;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:nth-child(2) > i,
.reply .reply__column:nth-child(2) button {
  position: absolute;
  right: -5px;
  top: 6px;
}

.reply .reply__column:nth-child(2) > i {
  right: 35px;
  top: 12px;
  font-size: 20px;
  opacity: 0.5;
}

.reply .reply__column:nth-child(2) button {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.reply .reply__column:nth-child(2) button i {
  font-size: 17px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
} /* 이게뭐람? */

.reply .reply__column:nth-child(1),
.reply .reply__column .fa-smile-wink,
.reply button {
  transition: opacity 0.1s ease-in-out;
}

.reply:focus-within .reply__column:nth-child(1),
.reply:focus-within .reply__column .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-5%) translateY(-80px);
  box-sizing: border-box;
}

.reply:focus-within {
  transform: translateY(80px);
}
