.chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

.chat-screen .status-bar {
  top: 0;
}

.chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.main-chat {
  margin-top: 150px;
}

.chat__timestamp {
  z-index: 100;
}
