.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  margin: 25px 0px;
}

.recommended-friends__title {
  font-size: 15px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray);
}

.open-chat {
  z-index: -1;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  padding-right: var(--horizontal-space);
  padding-bottom: 35px;
}

.open-chat__header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
}

.open-chat__title {
  margin-right: 5px;
}

.open-chat__title:nth-child(1) {
  font-weight: 600;
}

.open-chat__article {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.open-chat__image {
  position: relative;
}
.open-chat__image img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
}

.open-chat__heart-count {
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  font-size: 12px;
}

.open-chat__heart-count span {
  margin-left: 3px;
}

.open-chat__text h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.open-chat__hashtags {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.open-chat__members {
  font-size: 13px;
  color: var(--gray);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.open-chat__member-count {
  opacity: 0.6;
  padding-left: 5px;
}

.open-chat__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-chat__member-status {
  color: #e64f8b;
}
