.alt-header {
  padding: 40px var(--horizontal-space);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #abc1d1;
}

.alt-header__title {
  font-size: 30px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(1) {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:nth-child(3) {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
